#to-read-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: $main;
    gap: 0.2rem;
    padding: 1.3rem 1.9rem;

    &__total-info {
      font-size: 0.75rem;
    }
  }

  &__book-list {
    display: flex;
    flex-direction: column;
  }
}
